.tox
AUTHORS
ChangeLog
*.egg
*egg-info
dist/*
build/*
*.pyc
doc/build/*
doc/source/api/*
*~
.*~
.*swp
#*#
.project
/.cache
/metadata/cache
gerritbot.conf
gerritbot_chan.conf
gerritbot.log
.pydevproject
